.goBack {
    width: 35px;
    height: 35px;
    color: black;
}

.button3 {
    width: 250px;
    height: 50px;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.4);
    background-color: red;
}

.button1:hover, 
.button3:hover {
    color: black;
    font-weight: bold;
    background-color: transparent;
}