.button5,
.button6 {
  width: 150px;
  height: 50px;
  margin: 5px;
  background-color: blue;
  box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.4);
}

.button6 {
  background-color: red;
}

.button5:hover,
.button6:hover {
  color: black;
  font-weight: bold;
  background-color: transparent;
}