.text, .text2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.text2 {
    font-size: 15px;
}

.icons_foot {
    width: 25px;
    height: 25px;
    color: white;
    margin-right: 10px;
}

.navbar-bottom {
    margin-left: 10px;
}